{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <h3 class="text-center"><small>
        You successfully {{ action }}
        <mark>{{ quantity }} {{ name }}</mark> 
        {% if quantity == "1" %} share 
        {% else %} shares
        {% endif %} for 
        <div></div>
        <mark>{{ total }}</mark>
        
    </h3>
    <h3 class="text-center">
       <small> Funds available: <b><mark>{{ funds }}</mark></b></small>
    </h3>
{% endblock %}